src/cache/*
src/fmuTmp*
src/result.csv
src/tmpFmu
src/inc.fmu
src/inc2.fmu
src/inc
src/inc.so
examples/fmusdk-master/*
examples/inc/tmpFmu/*
examples/inc/inc
examples/inc/inc.fmu
examples/values/tmpFmu/*
examples/values/values
examples/values/values.fmu


#!examples/*.nim

